# Ignore everything in this directory
*
# Except this file
!.gitignore

# Based on Jamie Flournoy's answer to the following stackoverflow post:
# https://stackoverflow.com/questions/115983/how-can-i-add-an-empty-directory-to-a-git-repository
